/* Smaller font size for bullet points */
ul li {
  font-size: 0.6em;
}

/* restore to default size */
.big-bullets ul li {
  font-size: 1.0em; 
}

/* Custom font size for tables with the "small-table" class */
.small-table table {
  font-size: 0.8em;  /* Adjust this size as needed */
}